USE [master]
GO
/****** Object:  Database [FineArt]    Script Date: 9/24/2019 12:35:36 AM ******/
CREATE DATABASE [FineArt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FineArt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FineArt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FineArt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FineArt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FineArt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FineArt]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 9/24/2019 12:35:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[AwardId] [int] IDENTITY(1,1) NOT NULL,
	[AwardName] [varchar](50) NOT NULL,
	[AwardDetail] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competitions]    Script Date: 9/24/2019 12:35:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competitions](
	[CompetitionId] [int] IDENTITY(1,1) NOT NULL,
	[CompetitionName] [varchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
	[AwardId] [int] NOT NULL,
 CONSTRAINT [PK_Competitions] PRIMARY KEY CLUSTERED 
(
	[CompetitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExhibitionPosting]    Script Date: 9/24/2019 12:35:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExhibitionPosting](
	[PostingId] [int] NOT NULL,
	[ExhibitionId] [int] NOT NULL,
 CONSTRAINT [PK_ExhibitionPosting] PRIMARY KEY CLUSTERED 
(
	[PostingId] ASC,
	[ExhibitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exhibitions]    Script Date: 9/24/2019 12:35:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibitions](
	[ExhibitionId] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitionName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Exhibitions] PRIMARY KEY CLUSTERED 
(
	[ExhibitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postings]    Script Date: 9/24/2019 12:35:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postings](
	[PostingId] [int] IDENTITY(1,1) NOT NULL,
	[Mark] [float] NOT NULL,
	[Quote] [varchar](500) NOT NULL,
	[LastEdit] [datetime] NOT NULL,
	[ImagePath] [varchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompetitionId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Postings] PRIMARY KEY CLUSTERED 
(
	[PostingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/24/2019 12:35:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/24/2019 12:35:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](300) NOT NULL,
	[YearOfBirth] [nchar](10) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Address] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Postings] ADD  CONSTRAINT [DF_Postings_Mark]  DEFAULT ((0)) FOR [Mark]
GO
ALTER TABLE [dbo].[Competitions]  WITH CHECK ADD  CONSTRAINT [FK_Competitions_Awards] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Awards] ([AwardId])
GO
ALTER TABLE [dbo].[Competitions] CHECK CONSTRAINT [FK_Competitions_Awards]
GO
ALTER TABLE [dbo].[ExhibitionPosting]  WITH CHECK ADD  CONSTRAINT [FK_ExhibitionPosting_Exhibitions] FOREIGN KEY([ExhibitionId])
REFERENCES [dbo].[Exhibitions] ([ExhibitionId])
GO
ALTER TABLE [dbo].[ExhibitionPosting] CHECK CONSTRAINT [FK_ExhibitionPosting_Exhibitions]
GO
ALTER TABLE [dbo].[ExhibitionPosting]  WITH CHECK ADD  CONSTRAINT [FK_ExhibitionPosting_Postings] FOREIGN KEY([PostingId])
REFERENCES [dbo].[Postings] ([PostingId])
GO
ALTER TABLE [dbo].[ExhibitionPosting] CHECK CONSTRAINT [FK_ExhibitionPosting_Postings]
GO
ALTER TABLE [dbo].[Postings]  WITH CHECK ADD  CONSTRAINT [FK_Postings_Competitions] FOREIGN KEY([CompetitionId])
REFERENCES [dbo].[Competitions] ([CompetitionId])
GO
ALTER TABLE [dbo].[Postings] CHECK CONSTRAINT [FK_Postings_Competitions]
GO
ALTER TABLE [dbo].[Postings]  WITH CHECK ADD  CONSTRAINT [FK_Postings_Users1] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Postings] CHECK CONSTRAINT [FK_Postings_Users1]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
